
.navBarContainer{
    @include flexbox(space-between, center, row);
    margin:auto;
    width:90%;

    font-size: 1.5rem;

    color:#000;

    ul{
        @include flexbox(space-arround, center, row);
        gap: 3rem;
        list-style: none;


        a{
            text-decoration: none;
            color:#000;
        }
    }
}

.cartWidget{
    color: #000;
}